<div class="container-fluid g-0 p-2">

    <div class="row g-0">
        <div class="col-md-10 text-center">
            <span class="name">Terry Wolf</span>
        </div>

        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-success">Edit</button>
                <button type="button" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>

    <div class="col ps-2">
        <div class="row g-0 mt-3">
        <div class="col-md">
            <table class="table table-hover mx-auto">
                <thead class="text-center fs-4 fst-italic text-secondary">
                    <tr>
                        <td colspan="1">Job Information</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Job Title</td>
                        <td>Corporate Mobility Strategist</td>
                    </tr>
                    <tr>
                        <td>Salary</td>
                        <td>445.63</td>
                    </tr>
                    <tr>
                        <td>Motto</td>
                        <td>"If we hack the feed, we can get to the PNG program through the cross-platform JSON protocol!"</td>
                    </tr>
                </tbody>
            </table>

        </div>
        </div>

    </div>

</div>
