table{
    width: 75%;
}

.name{
    font-size: 35px;
    font-weight: 600;
    font-style: bold;
    letter-spacing: 3px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0% 3rem;
}